body {
    margin: 0;
}

.flex-container {
    height: calc(100% - 0px);
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2% !important;
}

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    // overflow-x: scroll;
    // overflow-y: scroll;
}

.div-send-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-down {
    z-index: 2;
    position: absolute; 
    background: transparent;
    bottom: 24px;
    width: 100%;
    height: auto;
}

video {
    transition: transform .2s;
    background-color: #282a36;
}

video:active {
    transform: scale(1.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    align-self: center;
}
video:focus {
    transform: scale(1.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    align-self: center;
  }
  :target {
    transform: scale(1.75);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    align-self: center;
  }